
.footer{
    position: relative;
    min-height: 100vh;
    width: 90%;
    padding: 20px 0;
    margin: auto;
}
.footer .f_top{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #cccc;
    /*background: red;*/
}
.footer .f_top .f_top2{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}
.footer .f_top .f_top2 .text{
    position: relative;
    /*height: auto;*/
    width: 500px;
    /*border: 1px solid black;*/
}
.footer .f_top .f_top2 .text h1{
    position: relative;
    font-size: 25px;
}
.footer .f_top .f_top2 .inputBx{
    position: relative;
    height: 50px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}
.footer .f_top .f_top2 .inputBx input{
    position: relative;
    height: 95%;
    width: 100%;
    border: none;
    outline: none;
    background: #cccc;
}
.footer .f_top .f_top2 .inputBx button{
    position: relative;
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 900;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: black;
}
.footer .f_top .f_top2 .imgBx{
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.footer .f_top .f_top2 .imgBx img{
    position: relative;
    height: 120px;
    width: 250px;
    object-fit: cover;
}

.main_mid{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    /*background: red;*/
}
.main_mid .f_mid{
    /* position: relative; */
    height: auto;
    width: 220px;
    margin-right: 20px;
    /* display: flex; */
    justify-content: center;
    margin-top: 50px;
    /*border: 1px solid black;*/
}
.main_mid .f_mid .section{
    position: relative;
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*background: green;*/
}
.main_mid .f_mid .section h4{
    position: relative;
    padding: 0 20px;
}
.main_mid .f_mid .section a{
    position: relative;
    height: 30px;
    width: 80%;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
    /* border: 1px solid black; */
}


.f_bottom{
    position: relative;
    min-height: auto;
    width: 100%;
    /*background: red;*/
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccc;
    border-top: 1px solid #cccc;
}
.f_bottom .details{
    position: relative;
    height: 100px;
    width: 80%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    /*background: red;*/
}
.f_bottom .details .sec{
    position: relative;
    height: 90%;
    width: 250px;
    display: flex;
    align-items: center;
    /*border: 1px solid black;*/
}
.sec h3{
    font-size: 15px;
}
.f_bottom .details .sec .icon{
    position: relative;
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.5)
    /*border: 1px solid black;*/
}
.f_bottom .details .sec span{
    position: relative;
    height: 45px;
    width: 100%;
    line-height: 10px;
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    padding: 0 10px;
    /*background: green;*/
}



.f_bottom .details2{
    position: relative;
    height: 100px;
    width: 20%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*background: green;*/
}
.f_bottom .details2 .sec{
    position: relative;
    /*height: 90%;*/
    /*width: 250px;*/
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
}


.f_bottom .details3{
    position: relative;
    height: 100px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    /*background: green;*/
}
.f_bottom .details3 .imgBx{
    position: relative;
    height: 50px;
    width: 150px;
    /*border: 1px solid black;*/
}
.f_bottom .details3 .imgBx img{
    position: relative;
    height: 50px;
    width: 100px;
    object-fit: contain;
}
.f_bottom .details3 .copyR{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    flex-direction: column;
    /*background: red;*/
}